<div class="Countries dark:bg-gray-800 dark:text-white pt-5">
    <div class="Countries-content Structure-content">
        <div class="Countries-searchings text-center sm:flex sm:items-center sm:justify-between">
            <div class="Countries-search">
                <app-search (emitEventText)="onTextSearch($event)"></app-search>
            </div>

            <div class="Countries-filter">
                <app-filter (emitRegionEvent)="onTextFilter($event)"></app-filter>
            </div>
        </div>

        <div class="Countries-result mt-5">
            @if(countries()){
            <app-results-countries [countries]="countries()"></app-results-countries>
            }@else {
            <div>Cargando países</div>
            }
        </div>
    </div>

</div>
