<div class="Countries">
    <div class="Countries-content Structure-content">
        <div class="Countries-searchings text-center sm:flex sm:items-center sm:justify-between">
            <div class="Countries-search">
                <app-search></app-search>
            </div>

            <div class="Countries-filter">
                <app-filter></app-filter>
            </div>
        </div>

        <div class="Countries-result">
            <app-results-countries></app-results-countries>
        </div>
    </div>

</div>