.Results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

@media(max-width:1400px){
    .Results {
        grid-template-columns: repeat(4,1fr);
    }
}


@media(max-width:1230px){
    .Results {
        grid-template-columns: repeat(3,1fr);
    }
}

@media(max-width:810px){
    .Results {
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:500px){
    .Results {
        grid-template-columns: repeat(1,1fr);
    }
}